<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.unity3d.player" android:installLocation="preferExternal" android:theme="@android:style/Theme.NoTitleBar" android:versionCode="3" android:versionName="1.01">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <application android:label="OnClanWithPayment" android:debuggable="false" android:icon="@drawable/ic_launcher">
    <activity android:name="com.unity3d.player.UnityPlayerNativeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
    </activity>
    <!-- OnClan activity -->
    <activity android:name="com.onclan.android.home.LoginActivity">
      <intent-filter>
        <action android:name="com.onclan.android.sdk.login" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:host="sdk" android:scheme="onclan" />
      </intent-filter>
    </activity>
    <activity android:name="com.onclan.android.core.OnClanActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@android:style/Theme.Dialog">
    </activity>
    <!-- AppotaSDK activity -->
    <activity android:name="com.appota.gamesdk.UserActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTask" android:theme="@style/Theme.Appota.GameSDK" android:windowSoftInputMode="adjustPan">
    </activity>
    <activity android:name="com.appota.gamesdk.UserInfoActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@style/Theme.Appota.GameSDK" android:windowSoftInputMode="adjustPan" />
    <activity android:name="com.appota.gamesdk.PaymentActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:theme="@style/Theme.Appota.GameSDK" />
    <!-- FB -->
    <activity android:name="com.appota.facebook.LoginActivity" />
    <service android:name="com.onclan.android.chat.mqtt.ChatService" />
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="\ 435546253225772" />
    <meta-data android:name="com.appota.twitter.consumer.key" android:value="z7C0vyxg4mIg5RQyoifEiQ" />
    <meta-data android:name="com.appota.twitter.consumer.secret" android:value="381575391023-q1kemg9m0m4pacje3dq12dufr890hvdg.apps.googleusercontent.com" />
    <meta-data android:name="APPOTA_PIRATE_ID" android:value="abc" />
    <meta-data android:name="com.appota.sandboxApiKey" android:value="781b83c011a0d1bc2719ebca34b7eec2053cfc585" />
    <meta-data android:name="com.appota.apiKey" android:value="de36bb8ea04a3387543110f52b21476b053bf6358" />
    <activity android:name="com.facebook.unity.FBUnityLoginActivity" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
    </activity>
    <activity android:name="com.facebook.unity.FBUnityDeepLinkingActivity" android:exported="true">
    </activity>
    <meta-data android:name="sandbox" android:value="false" />
  </application>
</manifest>